@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.mini-circle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .bounding-elem{
    transform: translateY(100%);
}

.main{
    width: 100%; 
    background-color: black;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.heading{
    margin-top: 90px;
}

.heading h1{
    line-height: 1;
    opacity: .6;
    margin-left: 30px;
    font-size: 10vw;
    font-weight: 900;
}

.heading #second-h1{
    margin-left: 230px;
}

.block-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.block-text h5{
    font-size: 15px;
    text-align: right;
}

.small-headings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 200px;
    padding-right: 50px;
}

.small-headings h5{
    margin-top: .5vw;
    text-transform: uppercase;
    font-size: 1vw;
    text-align: right;
}

.hero-footer{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-footer a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-footer #icon-set{
    display: flex;
    gap: 5px;
}

.hero-footer .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #888;
    border-radius: 50%;
}

.second-page{
    padding-top: 140px;
    padding-right: 10vw;
    width: 100%;
    height: 120vh;
    background-color: black;
    color: white;
}

.elem{
    position: relative;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.5vw 3vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}

.elem-last{
    border-bottom: 1px solid #888;
}

.elem img{
    display: none;
    height: 140%;
    z-index: 999;
    position: absolute;
}

.about{
    padding: 10vw 10vw;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 40vw;
}

#text-about{
    width: 25rem;
}

#text-about h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#text-about p{
    line-height: 1.7;
    margin-bottom: 30px;
}

.about img{
    width: 200px;
}


#text-about a{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}


.subscribe{
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
}

.subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}

.subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

.footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

#footer-left{
    display: flex;
    gap: 30px;

}

#footer-right{
    display: flex;
    gap: 20px;
}

.footer a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}